<div class="my-4">
  <p class="text-gray-300 mt-2">
    Our fundamental values ​​include innovation, excellence, collaboration,
    social responsability, and transparency.
  </p>
  <p class="text-gray-300 mt-4">
    We create it a solutions that generate a positive impact on people's lives,
    promote innovation, strengthen cybersecurity and promote the responsible
    management of the environment, generating opportunities for those who need
    it most.
  </p>
</div>
