<div class="flex justify-center space-x-4 mt-4">
  <a href="https://github.com/nitdraig" target="_blank">
    <img
      src="/github.svg"
      alt="Github Logo"
      class="w-6 h-6 invert hover:scale-125"
    />
  </a>
  <a href="https://www.linkedin.com/in/avellaneda-agustín-tns" target="_blank">
    <img
      src="/linkedin.svg"
      alt="Linkedin Logo"
      class="w-6 h-6 hover:scale-125"
    />
  </a>
  <a href="https://twitter.com/nitdraig" class="" target="_blank">
    <img
      src="/x.svg"
      alt="Twitter Logo"
      class="w-6 h-6 invert hover:scale-125"
    />
  </a>
</div>
