<div>
  <ul class="text-gray-400 list-disc list-inside mt-2">
    <li>
      <a
        href="https://jema.excelso.xyz"
        class="text-blue-400 hover:text-blue-600 hover:underline">JEMA</a
      >
    </li>
    <li>
      <a
        href="https://fuddy.click"
        class="text-blue-400 hover:text-blue-600 hover:underline">Fuddy</a
      >
    </li>
    <li>
      <a
        href="https://roger.agustin.top"
        class="text-blue-400 hover:text-blue-600 hover:underline">Roger</a
      >
    </li>
  </ul>
</div>
