---
const projectsLists = [
  {
    name: "JEMA",
    link: "https://jema.excelso.xyz",
  },
  {
    name: "Fuddy",
    link: "https://fuddy.click",
  },
  {
    name: "Roger",
    link: "https://roger.agustin.top",
  },
];
---

<div>
  <ul class="text-gray-400 list-disc list-inside mt-2">
    {
      projectsLists.map((project) => (
        <li>
          <a
            href={project.link}
            target="_blank"
            class:list="text-blue-400 hover:text-blue-600 uppercase hover:underline"
          >
            {project.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
