---
import "../styles/global.css";
import DescriptionSection from "../views/IndexView/DescriptionSection.astro";
import ProjectsSection from "../views/IndexView/ProjectsSection.astro";
import ProfileSection from "../views/IndexView/ProfileSection.astro";
---

<div
  class="bg-black text-white min-h-screen flex flex-col items-center py-10 px-5"
>
  <div class="max-w-lg text-left">
    <img
      src="/icon.png"
      alt="Excelso Logo"
      class="w-16 h-16 rounded-full invert"
    />
    <h1 class="text-2xl font-bold mt-2">Excelso</h1>
    <div class="border-t mt-4"></div>
    <DescriptionSection />
    <div class="border-t mt-6"></div>
    <h2 class="text-xl font-semibold mt-4">Our Projects</h2>
    <ProjectsSection />
    <div class="border-t mt-6"></div>
    <p class="text-gray-400 mt-6 mb-2">
      Project developed by <a
        href="https://agustin.top"
        class="text-blue-400 font-semibold hover:text-blue-700"
        >Agustin Avellaneda</a
      >
    </p>

    <ProfileSection />
  </div>
</div>
