<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="../../src/styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&display=swap"
      rel="stylesheet"
    />
    <link rel="canonical" href="https://excelso.xyz" />
    <meta name="generator" content={Astro.generator} />
    <title>Excelso | Solutions for the future</title>
  </head>
  <body>
    <slot />
  </body>
</html>
